.climbCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }  
  .climbCard--shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.15s cubic-bezier(.25,.8,.25,1);
  }  
  .climbCard--shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .climbCard--shadow:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .climbCard--defaultStyling {
    text-decoration: none;
    color: black;
  }  
.climbCard--positionOne {
    order: 1;
    width: 53%;
}
.climbCard__pictureBox {
    order: 2;
    width: 38%;
    min-width: 20rem;
    /*
    max-height: 26rem;
    width: 20rem;
    */
    border: 2px solid green;
    margin: 0 auto;
}
  
.climbCard__pictureBox--pic {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.climbCard__title {
    font-size: 2.2rem;
    padding: 0rem 1rem;
    font-weight: bold;
    margin: 0.3rem;
}
.climbCard__title a {
color: black;
text-decoration: none;
}
.climbCard__detail {
font-size: 1.2rem;
padding: 0rem 1rem;
margin: 0rem;
}
.climbCard__desc {
font-size: 1rem;
padding: 1rem;
text-overflow: ellipsis;
line-height: 1.7rem;
max-height: 5rem;
white-space: nowrap;
overflow: hidden;
line-height: var(--lh);
}
.climbCard__desc--overflow {
--max-lines: 3;
position: relative;
max-height: calc((1rem) * var(--max-lines));
overflow: hidden;
padding-right: 1rem; /* space for ellipsis */
text-overflow: ellipsis;
} 
  
@media (max-device-width: 750px) {
    .climbCard--smallOne {
        order: 1;
    }
    .climbCard--smallTwo {
        order: 2;
    }
    .climbCard--smallThree {
        order: 3;
    }
}
  