{% extends "base.html" %}

{% block title %}
    My Site - Home
{% endblock title %}


{% block content %}


<div class="header">
  <h1 class="title">Arete</h1>
  <p>Know your leads.</p>
  <div class="container__buttons">
    {% if user.is_authenticated %}
      <a class="btn btn-primary btn-lg" href="./profile" role="button">Go to Profile</a>
      <a class="nav-link" href="{% url 'logout' %}" >Sign Out</a>
    {% else %}
      <a class="button" href="{% url 'login' %}">Log In</a>
      <a class="button" href="{% url 'signup' %}">Sign up</a>
      
    {% endif %}
    <a class="button" href="{% url 'about' %}" role="button">Learn more</a>
  </div>
</div>
{% endblock content %}
